*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  font-family: 'AvenirLTProBook'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

a,
a:visited {
  text-decoration: none; }

a:focus,
a:active {
  outline: none; }

ul li {
  list-style: none; }

button {
  border: none;
  font-family: inherit;
  cursor: pointer; }

button:focus {
  outline: none; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px; }

.main {
  flex: 1 1 auto; }

body.lock {
  overflow: hidden; }

.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #414141;
  opacity: 0.3; }

.overlay.show {
  visibility: visible; }

.logo__hash {
  display: block;
  height: 100%;
  padding: 2px 7px 0 0; }
.logo__sign {
  height: 22px;
  width: 22px; }
.logo__content svg {
  display: block; }
.logo__title {
  height: 24px;
  width: 130px; }
.logo__caption {
  height: 8px;
  width: 130px;
  margin-top: 9px; }

.btn {
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  padding: 15px 30px;
  min-height: 51px;
  min-width: 218px;
  font-weight: 500;
  background: linear-gradient(91.83deg, #7AF051 16.38%, rgba(194, 240, 81, 0.8) 116.75%);
  color: #2c2c2c; }

@font-face {
  font-family: 'FuturaLT-Bold';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/FuturaLT-Bold.woff2) format("woff2"); }
@font-face {
  font-family: 'AvenirLTProBook';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/AvenirLTProBook.woff2) format("woff2"); }
@font-face {
  font-family: 'AvenirLTProMedium';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../../fonts/AvenirLTProMedium.woff2) format("woff2"); }
.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 130%;
  font-family: 'FuturaLT-Bold'; }

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  font-family: 'FuturaLT-Bold'; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  min-height: 90px;
  background-color: #262626; }
  .header .container {
    min-height: 90px; }

.menu {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  padding-right: 9px;
  color: #f1f1f1; }
  .menu__logo {
    display: flex;
    align-items: center;
    padding: 25px 10px; }
  .menu__list {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .menu__list {
        position: absolute;
        left: -100%;
        top: 90px;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        padding: 24px 0;
        background-color: #262626;
        transition: all 0.5s ease; }
        .menu__list.active {
          left: 0; } }
  .menu__item:not(:last-child) {
    margin-right: 65px; }
    @media screen and (max-width: 1023px) {
      .menu__item:not(:last-child) {
        margin-right: 42px; } }
    @media screen and (max-width: 768px) {
      .menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 12px; } }
  .menu__item:hover {
    color: #c2f051; }
  .menu__link {
    color: inherit; }
  .menu__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 30px;
    border-radius: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #f1f1f1;
    color: #f1f1f1;
    background-color: transparent; }
    .menu__action:hover {
      border-color: #c2f051; }
    @media screen and (max-width: 768px) {
      .menu__action {
        padding: 0;
        border: 0; } }
    .menu__action svg {
      height: 13px;
      width: 15px;
      fill: #f1f1f1;
      margin-right: 10px; }
      @media screen and (max-width: 768px) {
        .menu__action svg {
          display: none; } }
    .menu__action span {
      font-size: 16px;
      line-height: 130%; }

.icon-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .icon-menu {
      position: absolute;
      display: block;
      z-index: 100;
      top: 25px;
      right: 28px;
      border: none;
      width: 25px;
      height: 40px;
      background-color: transparent;
      cursor: pointer; }
      .icon-menu span {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #f1f1f1;
        transition: all 0.5s ease; } }

.icon-menu.active span:nth-child(2) {
  opacity: 0; }

.icon-menu.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg); }

.icon-menu.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); }

.hero {
  background: url(../../images/bg/hero-bg.jpg) no-repeat right bottom/cover, linear-gradient(295.57deg, rgba(19, 19, 19, 0.55) 11.13%, #131313 78.92%);
  padding: 184px 0 130px;
  color: #ffffff; }
  .hero__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 120%;
    font-family: 'FuturaLT-Bold';
    margin-bottom: 15px; }
    @media screen and (max-width: 639px) {
      .hero__title {
        font-size: 56px; } }
  .hero__subtitle {
    max-width: 626px;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    font-family: 'AvenirLTProMedium';
    margin-bottom: 34px; }
  .hero__btn {
    margin-bottom: 46px;
    position: relative; }
    .hero__btn::after {
      content: "";
      position: absolute;
      display: block;
      width: 125px;
      height: 70px;
      background: url(../../images/icons/arrow.svg) no-repeat center center/cover;
      left: 240px;
      top: 26px; }
      @media screen and (max-width: 639px) {
        .hero__btn::after {
          display: none; } }
  .hero__partners-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0; }
  .hero__partners-item {
    padding: 12px 25px; }

.features {
  background-color: #ffffff;
  padding: 90px 0; }
  .features__title {
    max-width: 760px;
    margin-bottom: 70px;
    color: #262626; }
  .features__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 32px 149px;
    color: #414141; }

.feature-card__title {
  margin-bottom: 15px; }

.partnership {
  background: url(../../images/bg/partnership-bg.jpg) no-repeat right center/cover;
  background-color: #1b1b1b;
  padding: 108px 0 120px;
  color: #f1f1f1; }
  .partnership__title {
    margin-bottom: 48px; }
  .partnership__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 32px 60px; }

.partnership-card {
  position: relative;
  background-color: rgba(38, 38, 38, 0.5);
  border: 1px solid #c2f051;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 40px 40px 45px; }
  .partnership-card__title {
    margin-bottom: 20px; }

.partnership-card + .partnership-card::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: url(../../images/icons/plus.svg) no-repeat center center/cover;
  left: -35px;
  top: 50%;
  transform: translateY(-50%); }

/*# sourceMappingURL=main.css.map */
