@font-face {
    font-family: 'FuturaLT-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/FuturaLT-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'AvenirLTProBook';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/AvenirLTProBook.woff2) format('woff2');
  }
  

@font-face {
    font-family: 'AvenirLTProMedium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../../fonts/AvenirLTProMedium.woff2) format('woff2');
  }