$color-white: #ffffff;
$color-light: #f1f1f1;
$color-gray: #c4c4c4;
$color-dark-gray: #7c7c7c;
$color-black: #262626;
$color-midnight: #2c2c2c;
$color-dark: #414141;
$color-lime: #c2f051;
$color-green:#7AF051;

