.features {
    background-color: $color-white;
    padding: 90px 0;
    &__title {
        max-width: 880px;
        margin-bottom: 70px;
        color: $color-black;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 32px 149px;
        color: $color-dark;
    }
}
.feature-card {
    &__title {
        margin-bottom: 15px;
    }
}
