.hero {
    background: url(../../images/bg/hero-bg.jpg) no-repeat right bottom / cover, linear-gradient(295.57deg, rgba(19, 19, 19, 0.55) 11.13%, #131313 78.92%);
    padding: 184px 0 130px;
    color: $color-white;
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 120%;
        font-family: 'FuturaLT-Bold';
        margin-bottom: 15px;
        @media screen and (max-width: 639px) {
            font-size: 56px;
        }
    }
    &__subtitle {
        max-width: 626px;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        font-family: 'AvenirLTProMedium';
        margin-bottom: 34px;
    }
    &__btn {
        margin-bottom: 60px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 125px;
            height: 70px;
            background: url(../../images/icons/arrow.svg) no-repeat center center /cover;
            left: 240px;
            top: 26px;
            @media screen and (max-width: 639px) {
                display: none;
            }
        }
    }
    &__partners-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    &__partners-item {
        padding: 12px 25px;
    }
}